<% form_for [:admin, album] do |f| %>

  <div class="field">
    <%= f.label :title %>:
    <%= f.text_field :title %>
  </div>
	<br />
  
  <div class="field">
    <%= f.label :description %>:
    <%= f.text_field :description %>
  </div>

  <div class="submit">
    <%= f.submit "Save" %>
  </div>
  
<% end %>