<% form_for [:admin, @album] do |f| %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="submit">
    <%= f.submit "Go" %>
  </div>
  
<% end %>
<%= link_to "back", admin_albums_path %>