<h2><%= flash[:notice] %></h2>
<h2><%= @album.title %></h2>
	<%= link_to "back", admin_albums_path %> |
	<%= link_to "edit album", edit_admin_album_path(@album) %> |
	<%= link_to "delete album", [:admin, @album], 
			:confirm => 'Are you sure?', 
			:method => :delete
			%><br /><br />
	
	<strong>Lirycs:</strong>
	<% for lyric in @album.lyrics %>
		<%= lyric.title %><br />
		<%= lyric.text_song %>
	<% end %>
<h3>New Liryc:</h3>
<%= render :partial => 'admin/lyrics/form' %>