<div id="content-sub">
	<div id="downloads-tables">
		<h3 title="Download Tracks">Download Tracks</h3>
		
		<% form_for @order do |form| %>
			<table cellpadding="0" cellspacing="0" summary="List of orderable songs">
				<tr>
					<th class="first">Album Title</th>
					<th>Track Title</th>
					<th>Time</th>
					<th>Price</th>
					<th class="last" style="text-align:center">Sample</th>
				</tr>
			
				<% for track in @tracks %>
					<tr class="one">
					<td><strong><%= track.albums.first.title unless track.albums.first == nil %></strong></td>
					<td>
						<%= check_box_tag("order[track_ids][]", track.id, false, {:value => track.id, :rel => track.price, :onchange => "recalculate_totals();", :class => 'track_checkbox'} ) %>
						<strong><%= track.title_full_file %></strong>
					</td>
					<td><span><%= track.time %></span></td>
					<td class="track_price"><%= track.price %></td>
					<td style="text-align:center"><%#= link_to image_tag("/images/speaker.gif"), track.audio_file_full.music.url %></td>		
					</tr>
				<% end %>	
				
				<tr>
					<td class="two-last" colspan="5"></td>
				</tr>
				
				<tr class="two">
					<td><strong>Total Track(s)</strong></td>
					<td colspan="2">
						<strong style="float:right;padding-right:25px;">Total price</strong>
						<input type="text" name="total" value="0" id="total_tracks" style="width:40px" /> 
					</td>
					<td id="total_price">0.00</td> 
					<td style="text-align:center">
  					Enter your email: <%= form.text_field :email %>
						<%= form.submit "buy" %>
					</td>
				</tr>			
			</table>
	
		<% end %>
	</div>	 	
</div>
