<% form_for [:admin, Lyric.new] do |f| %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :text_song %><br />
    <%= f.text_area :text_song %>
  </div>

	<%= f.hidden_field :album_id, :value => @album.id %>

  <div class="submit">
    <%= f.submit "Save" %>
  </div>
  
<% end %>