<% form_for [:admin, @lyric] do |f| %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :text_song %><br />
    <%= f.text_area :text_song %>
  </div>
	
  <div class="submit">
    <%= f.submit "Save" %>
  </div>
  
<% end %>
<%= link_to "back", admin_lyrics_path %>