<% form_for [:admin, @review] do |f| %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :review %><br />
    <%= f.text_area :body %>
  </div>
	
  <div class="field">
    <%= date_select :review, :date %>
  </div>

  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>

  <div class="submit">
    <%= f.submit "Save" %>
  </div>
  
<% end %>
<%= link_to "back", admin_reviews_path %>