<div id="content-sub">
	<div id="downloads-tables">
		<h3 title="Download Tracks">Download Tracks</h3>
		
		<% form_for :order, :url => {:action => "before_purchase"} do |form| %>
			<table cellpadding="0" cellspacing="0" summary="List of orderable songs">
				<tr>
					<th class="first">Album Title</th>
					<th>Track Title</th>
					<th>Time</th>
					<th>Price</th>
					<th class="last" style="text-align:center">Sample</th>
				</tr>
			
				<% for upload in @album.uploads %>
					<tr class="one">
					<td><strong><%= @album.title %></strong></td>
					<td>
						<%= check_box_tag("order[upload_ids][]", upload.id, false, {:value => upload.id, :rel => upload.price, :onchange => "recalculate_totals();", :class => 'track_checkbox'} ) %>
						<%#= check_box_tag("song", upload.title, false, {:value => upload.price, :onchange => "recalculate_totals();", :class => 'track_checkbox'}) %>
						<strong><%= upload.title %></strong>
					</td>
					<td><span><%= upload.time %></span></td>
					<td class="track_price"><%= upload.price %></td>
					<td style="text-align:center"><%= link_to image_tag("/images/speaker.gif"), upload.file.url %></td>		
					</tr>
				<% end %>	
				
				<tr>
					<td class="two-last" colspan="5"></td>
				</tr>
				
				<tr class="two">
					<td><strong>Total Ttrack(s)</strong></td>
					<td colspan="2">
						<strong style="float:right;padding-right:25px;">Total price</strong>
						<input type="text" name="total" value="0" id="total_tracks" style="width:40px" /> 
					</td>
					<td id="total_price">0.00</td> 
					<td style="text-align:center">
						<%= form.submit "buy" %>
					</td>
				</tr>			
			</table>
	
		<% end %>
	</div>	 	
</div>
