	<!-- home body -->
<div id="content-lyrics">
  <h3 title="Album(s)">Album(s)</h3>
	  <div id="links">
		  <h4><%= @album.title %></h4>
		  <% for track in @album.tracks %>
			<p>
				<a href="#" title=<%= track.title_full_file %>><%= track.title_full_file %>
		  		<span>
					<strong><%= track.title_full_file %></strong><br />
					<%= track.lyric.text_song unless track.lyric == nil %><br />
					[Jack Howard]
		  		</span>	
				</a>
			</p>
		  <% end %>
		</div>
	<div class="cleaner"></div>	
</div>