<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
	<head> 
 		<title>My Blog</title> 
		<%= stylesheet_link_tag "admin", :media => "all" %>
	</head> 
	<body>
		<div id="list">
			<h1>
			<%= link_to "posts", admin_posts_path %><br />
			<%= link_to "albums", admin_albums_path %><br />
			<%= link_to "reviews", admin_reviews_path %><br />
			<%= link_to "contacts", admin_contacts_path %><br />
			<%= link_to "lyrics" %><br />
			<%= link_to "messages", admin_messages_path %><br />
			<%= link_to "users", admin_users_path %>
			</h1>
		</div>
		
		<%= yield :layout %> 
	
	</body> 
</html> 
