 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>JACK HOWARD &amp; The Long Lost Brothers</title>
		<meta http-equiv="content-type" content="text/html;charset=iso-8859-1"/>
		<%= stylesheet_link_tag "styles", :media => "all" %> 
		<%= javascript_include_tag :defaults %>
	</head>
	<body>
		<div id="wrapper">
			<div id="<%= var_layouts %>">
				<!-- header -->
				<div id="header">
					<!-- top logo-->	
					<h1 title="JACK HOWARD &amp; The Long Lost Brothers"><%= link_to "JACK HOWARD &amp; The Long Lost Brothers", root_path %></h1>
					<p class="flash"><img src="/images/player.gif" alt="Temp Player" title="Temp Player" /></p>
						<ul id="topnav">
							<li><%= link_to image_tag("home.gif"), root_path %></li>
							<li><%= link_to image_tag("email.gif"), contacts_path %></li>
						</ul>
					<div class="cleaner"></div>
					<!-- top nav -->
			
				</div>
				<!-- end of header -->
				<!-- main navigation -->
				<div id="main-nav">
						<ul>
							<li><%= link_to "Reviews", reviews_path %></li>
							<li><%= link_to "Band", participants_path %></li>
							<li><%= link_to "Discography", albums_path %></li>
							<li><%= link_to "Lyrics", album_path(last_album) %></li>
							<li><%= link_to "Blog", posts_path %></li>
							<li><%= link_to "Footy-songs", :controller => 'static_pages', :action => 'footy_songs' %></li>
							<li><%= link_to "Downloads", tracks_path %></li>
						</ul>
				</div>
				<div class="cleaner"></div>
		
					<%= yield :layout %> 
					
					<!-- footer -->
					<div id="footer">
						<p><a href="#" title="Valid CSS">css</a><a href="#" title="Valid XHTML">xhtml</a></p>
				</div>		
			</div>
		</div>	
	</body>
</html>